
<mat-card class="outline">
  <mat-card-header class="example-small-box">
    <div mat-card-sm-image class="example-header-image"></div>
  </mat-card-header>
  <mat-card-header class="example-small-box">
    <div>
      <mat-card-title>USAMA KHATRI</mat-card-title>
      <mat-card-title>Yess</mat-card-title>

      <mat-card-subtitle>Software Developer</mat-card-subtitle>  
    </div>
  </mat-card-header>
  <mat-card-header class="example-small-box">
    <div>
    </div>
  </mat-card-header>
  <mat-card-content>
  </mat-card-content>
  </mat-card>